__pycache__/
*.pyc

answers/*
### https://raw.github.com/github/gitignore/7ab549fcae8269fdd4004065470176f829d88200/community/Python/JupyterNotebooks.gitignore

# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/


